<%= form_with model: [:admin, article] do |form| %>
  <div class="flex justify-end">
    <% if article.draft %>
      <%= form.button "Sauvergarder le brouillon", value: "draft", class: "btn-secondary mr-4" %>
      <%= form.button "Publier", value: "publish", class: "btn-primary" %>
    <% else %>
      <%= form.submit class: "btn-primary" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>
<% end %>
