<div class="flex justify-between">
  <h1 class="text-4xl font-semibold">Les articles</h1>
  <%= link_to new_admin_article_path, class: "btn-primary self-start" do %>
    <i class="fa-duotone fa-circle-plus mr-2"></i>
    <span>Nouvel article</span>
  <% end %>
</div>

<ul class="mt-16">
  <% @articles.each do |article| %>
    <li class="flex justify-between p-4 border-x border-b first:border-t">
      <%= link_to edit_admin_article_path(article.id), class: "hover:underline" do %>
        <h3 class="text-xl"><%= article.title %></h3>
      <% end %>

      <div class="flex">
        <% if article.draft %>
          <span class="px-2 py-1 bg-gray-200 font-semibold text-sm rounded-lg">Brouillon</span>
          <%= link_to admin_article_path(article.id), target: "_blank", rel: "noopener noreferrer" do %>
            <i class="ml-4 fa-duotone fa-eye"></i>
          <% end %>
        <% else %>
          <span class="px-2 py-1 bg-green-600 text-white font-semibold text-sm rounded-lg">Publié</span>
          <%= link_to admin_article_path(article.id), target: "_blank", rel: "noopener noreferrer" do %>
            <i class="ml-4 fa-duotone fa-up-right-from-square"></i>
          <% end %>
        <% end %>
      <div>
    <li>
  <% end %>
</ul>
